html {
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

body {
    background: hsl(0, 0%, 17%);
}

/*
The header wrapper contains the navigation bar,
the initial information and the main image
*/

.wrapper_header {
    background-image: url(../img/main_img.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 1;

    transition: 0.2s all ease-out;
}

.wrapper_header::before {
    content: '';

    background: hsla(0, 0%, 11%, 1);
    height: 100%;
    width: 100%;
    transition: 0.2s all ease-out;

    position: absolute;
    left: 0;
    top: 0;
}

.main_header {
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 75rem;
    width: 95%;
}

/**********************************
 ************* HEADER *************
 **********************************/

.header_container {
    position: fixed;
    z-index: 1;

    transition: 0.2s all ease-out;

    width: 100%;
}

.main_header a {
    color: hsl(0, 0%, 95%);
    text-decoration: none;
}

/********** THE LOGO-NAME **********/

.main_header .container_menu {
    color: #fff;
    font-size: 2.5rem;
    width: 100%;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: 0.2s all ease-out;
}

.main_header .main_title {
    margin: 0;

    display: flex;
}

.main_header .main_title a {
    font-family: 'Crimson Text', sans-serif, Helvetica, Arial;
    font-size: 2rem;
    font-weight: normal;
    padding: 1rem 0;
    text-transform: uppercase;
}

.main_header .main_title span {
    color: hsl(43, 97%, 61%);
    font-weight: bold;
}

/********** THE NAVIGATION BAR **********/

.main_header .bar_navigation {
    background: hsl(0, 0%, 5%);
    font-size: 1.3rem;
    height: 100vh;
    width: 100%;

    position: absolute;
    left: 100%;
    top: 100%;

    transition: 0.2s ease-out;
}

.main_header .bar_navigation_active {
    left: 50%;
}

.main_header .bar_navigation ul {
    font-family: 'Work Sans', sans-serif, helvetica, arial;
    list-style: none;
    margin: 0;
    padding: 1rem;
}

.main_header .bar_navigation ul li a {
    border: 4px solid transparent;
    display: block;
    padding: 1.5rem 0.62rem;

    transition: 0.1s ease-out;
}

.main_header .bar_navigation ul li a:hover {
    border: 4px solid hsl(43, 97%, 61%);
}

.main_header .bar_navigation ul li .current_item {
    border-bottom-color: hsl(43, 97%, 61%);
}

/***********************************
 ******* INITIAL INFORMATION *******
 ***********************************/

.initial_info {
    color: hsl(0, 0%, 95%);
    font-family: 'Work Sans';
    font-size: 1.5rem;
    line-height: 1.6;
    margin: 0 auto;
    padding: 7.5rem 0 3rem 0;
    text-align: center;

    opacity: 0.01;
    transform: translateY(-50%);
    transition: 0.2s all ease-out;

    max-width: 75rem;
    width: 95%;
}

.initial_info strong {
    border-bottom: 3px solid hsl(43, 97%, 61%);
    display: inline-block;
    font-weight: bold;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

.initial_info h2 {
    font-family: 'Crimson Text', sans-serif, Helvetica, Arial;
    font-size: 4rem;
    margin: 1rem;
}

.initial_info p {
    font-size: 1.25rem;

    transition: 0.2s all ease-out;
}

.initial_info .openInfo {
    color: hsl(43, 97%, 61%);
    cursor: pointer;
    font-weight: bold;
    user-select: none;
    margin-bottom: 3rem;
}

.initial_info .openInfo i {
    transform: rotate(0);
    transition: 0.2s ease-out all;
}

.initial_info .info {
    --scale: 0;

    padding-bottom: 2em;
    position: absolute;
    transform: scale(var(--scale));
}

.initial_info .btn_contact {
    background: transparent;
    border: 2px solid hsl(210, 90%, 60%);
    border-radius: 50px;
    color: hsl(210, 90%, 60%);
    display: inline-block;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: 0.25rem 2.5rem;
    text-decoration: none;
    transition: 0.1s all ease-out;
}

.initial_info .btn_github {
    border: 2px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}

.initial_info .btn_contact:hover {
    background: hsl(210, 90%, 60%);
    color: hsl(0, 0%, 95%);
}

.initial_info .btn_github:hover {
    background: hsl(0, 0%, 95%);
    color: hsl(240, 1%, 15%);
}

/**********************************
 ********** MAIN CONTENT **********
 **********************************/

.sections {
    color: hsl(0, 0%, 95%);
    margin: 0 auto;

    max-width: 75rem;
    width: 95%;
}

.sections .section_title {
    border-bottom: 4px solid hsl(43, 97%, 61%);
    color: hsl(43, 97%, 61%);
    font-size: 2.5rem;
    margin: 5rem 0 2.5rem 0;
    padding: 0 1rem 0.5rem 1rem;
    text-transform: uppercase;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sections .section_title h2 {
    font-size: 2.25rem;
    margin: 0;
}

.sections .articles {
    margin-bottom: 4rem;
}

/**********************************
 ************ ABOUT ME ************
 **********************************/

.container_about_me {
    overflow: hidden;
    padding: 0.5rem 0;
}

.sections .articles .article_title {
    color: hsl(43, 97%, 61%);
    font-size: 2rem;
    margin-bottom: 4rem;
    text-align: center;
}

.sections .articles p {
    font-family: 'Work Sans', sans-serif, helvetica, arial;
    line-height: 1.7;
    padding: 0 1rem;
}

.sections .articles span {
    color: hsl(43, 97%, 61%);
    font-weight: bold;
}

.sections .articles .btn_contact {
    background: transparent;
    border: 3px solid hsl(43, 97%, 61%);
    color: hsl(43, 97%, 61%);
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 0.75rem 3rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s all ease-out;
}

.sections .articles .btn_contact:hover {
    background: hsl(43, 97%, 61%);
    color: hsl(0, 0%, 17%);
}

.sections .articles .services {
    margin-bottom: 4rem;
    text-align: center;
}

.sections .articles .services h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.sections .articles .services figure i,
.container_resume .skills i {
    background: hsl(43, 97%, 61%);
    border-radius: 50%;
    color: hsl(0, 0%, 17%);
    font-size: 5rem;
    padding: 1rem;
}

/**********************************
 ************* RESUME *************
 **********************************/

/* EDUCATION AND EXPERIENCE */

.container_resume {
    background: hsl(0, 0%, 11%);
    padding: 0.5rem 0;
}

.container_resume .chronologies_container {
    display: flex;
    justify-content: center;
}

.container_resume .chronologies {
    border-left: 3px solid hsl(43, 97%, 61%);
    padding-left: 4rem;
    margin: 0 0 4rem 3rem;
    max-width: 540px;

    position: relative;
}

.container_resume .chronologies:last-child {
    margin-bottom: 0;
}

.container_resume .chronologies::before,
.container_resume .chronologies::after {
    content: '';

    border: 3px solid hsl(43, 97%, 61%);
    border-radius: 50%;
    display: block;
    height: 10px;
    margin-left: -10px;
    width: 10px;

    position: absolute;
    left: 0;
    top: -13px;
}

.container_resume .chronologies::after {
    top: 100%;
}

.container_resume .chronologies figure {
    margin: 0;

    position: absolute;
    left: -47px;
    top: 2.5rem;
}

.container_resume .chronologies img {
    border-radius: 50%;
    width: 90px;
}

.container_resume .chronologies h4 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 0.75rem;
    text-transform: uppercase;
}

.container_resume .chronologies em {
    color: hsl(43, 97%, 61%);
    display: block;
    font-size: 1rem;
    margin-bottom: 2rem;
    font-style: normal;
}

.container_resume .chronologies p {
    padding: 0;
}

/* SKILLS */

.container_resume .skills,
.container_portfolio .projects {
    background: hsl(0, 0%, 17%);
    box-shadow: 2px 2px 2px hsl(0, 0%, 30%);
    font-family: 'Crimson Text', sans-serif, Helvetica, Arial;
    margin: 0 auto;
    margin-bottom: 4rem;
    padding: 2.5rem;
    text-align: center;

    max-width: 375px;
}

.container_resume .skills h4,
.container_portfolio .projects h4 {
    color: hsl(43, 97%, 66%);
    font-size: 1.75rem;
}

.container_resume .skills h5 {
    color: hsl(43, 97%, 76%);
    font-family: 'Work Sans', sans-serif, helvetica, arial;
    font-size: 1.25rem;
    margin: 1.5rem 0 0.5rem 0;
}

.container_resume .skills figure {
    border-bottom: 2px solid hsl(0, 0%, 23%);
    margin: 0;
    padding: 0.25rem;

    display: flex;
    justify-content: space-between;
}

.container_resume .skills figure img {
    width: 35px;
}

.container_resume .skills figure p {
    font-size: 1.25rem;
    margin: 0;
}

/**********************************
 *********** PORTFOLIO ************
 **********************************/

.container_portfolio {
    background: hsl(0, 0%, 85%);
    padding: 0.5rem 0;
}

.container_portfolio .section_title {
    color: hsl(0, 0%, 11%);
    border-color: hsl(0, 0%, 11%);
}

.container_portfolio .projects {
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 11%);
    padding: 0;
}

.container_portfolio .projects h3,
.container_portfolio .projects h4 {
    color: hsl(0, 0%, 11%);
    font-weight: bold;
    font-size: 2rem;
    margin: 1.5rem;
}

.container_portfolio .projects h4 {
    color: hsl(0, 0%, 27%);
    font-size: 1.25rem;
}

.container_portfolio .projects_img img {
    border-bottom: 2px solid hsl(0, 0%, 90%);
    height: 225px;
    width: 100%;
}

.container_portfolio .projects_technologies {
    margin: 2rem;
}

.container_portfolio .projects_technologies img {
    width: 35px;
}

.container_portfolio .projects_buttons {
    display: flex;
    justify-content: space-around;
}

.container_portfolio .projects_buttons a {
    border: 3px solid hsl(43, 97%, 38%);
    color: hsl(43, 97%, 38%);
    font-family: 'Work Sans', sans-serif, helvetica, arial;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 1rem;
    padding: 1rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
}

.container_portfolio .projects_buttons .main {
    background: hsl(43, 97%, 61%);
    color: hsl(0, 0%, 17%);
}

/**********************************
 ************ CONTACT *************
 **********************************/

.container_contact {
    overflow: hidden;
    padding: 0.5rem 0;
}

/* SOCIAL NETWORKS */

.social_networks {
    margin-bottom: 5rem;
    text-align: center;
}

.social_networks a {
    border: 3px solid hsl(0, 0%, 90%);
    color: hsl(0, 0%, 90%);
    display: inline-block;
    margin-right: 1rem;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;

    transition: 0.2s ease-out all;
}

.social_networks a i {
    font-size: 2rem;
}

.social_networks .linkedin:hover {
    color: hsl(0, 0%, 100%);
    background: hsl(201, 98%, 35%);
}
.social_networks .github:hover {
    color: hsl(0, 1%, 19%);
    background: hsl(0, 0%, 97%);
}
.social_networks .facebook:hover {
    color: hsl(0, 0%, 100%);
    background: hsl(214, 83%, 50%);
}
.social_networks .twitter:hover {
    color: hsl(0, 0%, 100%);
    background: hsl(203, 83%, 51%);
}

/* CONTACT FORM */

.contact_form {
    font-family: 'Work Sans', sans-serif, helvetica, arial;
    margin: 0 auto 4rem auto;

    max-width: 700px;
    width: 100%;
}

.contact_form .form_input {
    margin-bottom: 1.5rem;
    text-align: center;
    position: relative;
}

.contact_form .form_input input,
.contact_form .form_input textarea {
    background: transparent;
    border: 3px solid hsl(0, 0%, 65%);
    box-shadow: 0 2px 2px hsl(0, 0%, 5%);
    color: hsl(0, 0%, 95%);
    font-size: 1.25rem;
    outline: none;
    padding: 0.75rem 1rem;
    width: 100%;

    transition: 0.2s ease-out all;
}

.contact_form .form_input textarea {
    resize: none;
}

.contact_form .form_input input:focus,
.contact_form .form_input textarea:focus {
    border-color: hsl(0, 0%, 100%);
    box-shadow: 0 0 4px hsl(0, 0%, 100%);
}

.contact_form .form_input input::placeholder,
.contact_form .form_input textarea::placeholder {
    color: hsl(0, 0%, 65%);
}

.contact_form .form_input input[type='submit'] {
    max-width: 235px;
    padding: 0.75rem 1rem;
}

.contact_form .form_input input[type='submit']:focus {
    border-color: hsl(43, 97%, 38%);
    box-shadow: none;
}

/**********************************
 ************* FOOTER *************
 **********************************/

.footer {
    background: hsl(0, 0%, 11%);
    color: hsl(0, 0%, 85%);
    font-family: 'Work Sans', sans-serif, Helvetica, Arial;
    padding: 1.5rem 0;
    text-align: center;
}

/***********************************
 ********** MEDIA QUERIES **********
 ***********************************/

@media screen and (min-width: 768px) {
    /**********************************
    ************* HEADER *************
    **********************************/

    .wrapper_header {
        background-image: url(../img/main_img_2.jpg);
    }

    /***********************************
    ********** OTHER SECTIONS **********
    ***********************************/

    .sections .articles .services_container {
        display: flex;
        flex-wrap: wrap;
    }

    .sections .articles .services {
        width: 50%;
    }

    .sections .articles {
        font-size: 1.15rem;
        margin-bottom: 0;
    }

    /**********************************
    ************* RESUME *************
    **********************************/

    /* This styles are created if there are 2 or more columns in resume container */

    /* 
    .container_resume .chronologies_container {
        justify-content: space-between;
    }
    
    .container_resume .chronologies_container .articles {
        width: 45%;
    }
    */

    /* SKILLS */

    .container_resume .container_skills,
    .container_portfolio .container_projects {
        display: flex;
        flex-wrap: wrap;
    }

    .container_resume .container_skills .skills,
    .container_portfolio .container_projects .projects {
        max-width: 100%;
        width: 45%;
    }
}

@media screen and (min-width: 1075px) {
    html {
        font-size: 15px;
    }

    /***********************************
    ******* INITIAL INFORMATION *******
    ***********************************/

    .initial_info {
        padding: 10rem 0 5rem 0;
    }

    /**********************************
    ************* HEADER *************
    **********************************/

    .main_header .container_menu {
        width: 50%;
    }

    .main_header .container_menu .btn_menu {
        display: none;
    }

    .main_header .bar_navigation {
        background: transparent;
        font-size: 1.1rem;
        height: 100%;
        position: static;
    }

    .main_header .bar_navigation ul {
        padding: 0;

        display: flex;
        justify-content: space-between;
    }

    .main_header .bar_navigation ul li a {
        padding: 0.5rem;
        text-align: center;
    }

    .initial_info h2 {
        margin: 3rem 0;
    }

    /**********************************
    ************ ABOUT ME ************
    **********************************/

    .sections .articles {
        font-size: 1rem;
    }

    .sections .personal_info {
        display: flex;
    }

    .sections .personal_info .personal_info_data {
        margin-right: 1rem;
        width: 100%;
    }

    .sections .personal_info h3 {
        text-align-last: left;
    }

    .sections .personal_info p {
        padding: 0;
    }
}

@media screen and (min-width: 1200px) {
    html {
        font-size: 16px;
    }

    /***********************************
    ******* INITIAL INFORMATION *******
    ***********************************/

    .initial_info .openInfo {
        display: none;
    }

    .initial_info .info {
        position: static;
        display: block;

        transform: scale(1);
    }

    /**********************************
    ************ ABOUT ME ************
    **********************************/

    .sections .articles .services_container {
        justify-content: center;
    }

    .sections .articles .services {
        margin-bottom: 1rem;
        width: 33%;
    }

    .sections .articles .services:last-child {
        margin-bottom: 3em;
    }

    /**********************************
    ************* RESUME **************
    **********************************/

    /* SKILLS */

    .container_resume .container_skills,
    .container_portfolio .container_projects {
        justify-content: space-between;
    }

    .container_resume .container_skills .skills,
    .container_portfolio .container_projects .projects {
        width: 31%;
    }

    /**********************************
    ************ CONTACT *************
    **********************************/

    /* CONTACT FORM */

    .contact_form .form_input input,
    .contact_form .form_input textarea {
        font-size: 1rem;
    }
}
