/**************** HEADER AND MAIN INFORMATION ***************/

.wrapper_main {
    background-image: url(../img/main_img.jpg);
}

.header {
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 75em;
    width: 100%;
}

.header a {
    color: hsl(0, 0%, 95%);
    font-size: 1.25em;
    text-decoration: none;
}

.header .main_title {
    font-family: 'Crimson Text';
    font-size: 1.88em;
}

.header .bar_navigation ul {
    list-style: none;

    display: flex;
}

.header .bar_navigation ul li {
    font-family: 'Work Sans';
    margin-right: 40px;
    list-style: none;
}

.header .bar_navigation ul li:last-child {
    margin-right: 0;
}

.header .bar_navigation ul li .current_item {
    border: 4px solid transparent;
    border-bottom-color: hsl(43, 97%, 61%);
    padding: 0.62em;
}

.header .bar_navigation ul li .current_item:hover {
    border: 4px solid hsl(43, 97%, 61%);
}